body {
    background-color: #e8ebed;
    width: 1300px;
    font-family: sans-serif;
    margin: 0px auto;
}

p {
    padding: 20px;
    margin: 0px;
    font-size: 18px;
}

h1 {
    text-align: center;
    color: #2d2d2d;
}

.header {
    background-color: #fff;
    margin: 5px 0px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.header img {
    padding: 5px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.box {
    margin: 10px 0px;
    transition: transform .2s;
    max-width: 371px;
    background-color: #fff;
    border-radius: 5px;
}

.box:hover {
    transform: translate(0px, -15px);
    transition: transform .2s;
    cursor: pointer;
}

.box img {
    border-radius: 5px 5px 0 0;
    width: 370px;
    height: 370px;
}

.tourist-count-container {
    text-align: center;
    padding: 50px 20px;
}

.tourist-count-num {
    display: inline-block;
    color: #FDFFFF;
    width: 26px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    background: #23324D;
    border-radius: 3px;
    margin: 2px 3px;
    font-weight: bold;
    font-size: 30px;
}

.button {
    text-decoration: none;
    color: #01ba7c;
    font-size: 18px;
    border: 2px solid #01ba7c;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    margin: 20px;
}

.button:hover,
.button:hover a {
    color: #fff;
    background-color: #01ba7c;
}

a {
    text-decoration: none;
    color: #01ba7c;
}